.list {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
}

.item {
    display: flex;
    padding: 15px;
    justify-content: flex-start;
    align-items: center;
        
}

.status {
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 30px;
}

.avatar {
    padding-right: 10px;
}

.name {
    font-weight: 500;
}