.transaction_history {
    width: 500px;
    margin: 30px auto;    
    text-align: center;
}

th {
    font-weight: 400;
    color: #ffffff;
    padding: 10px 15px;
    background-color: #669;
}

td {
    color: #669;
    border-top: 1px solid #e8edff;
    padding: 10px 15px;
}

tr:nth-child(2n) {
    background: #e8edff;
}